<div th:fragment="netOperatorsModal">
    <dialog id="netOperatorsModal" class="modal netOperatorsModal">
        <div class="dialogHeader">
            <span>Net Operators</span>
            <span class="closeModalButton"><a href="#"><i class="fa-solid fa-xmark"></i></a></span>
        </div>
        <div class="dialogBody">
            <span class="dialogSectionHead">Privileged Role Operators</span>
            <div class="operatorList">
                <div class="operator">
                    <div class="stationInfo">
                        <span class="role">PRM</span>
                        <div>
                            <span class="callsign">KF0JQH</span><span> - </span>
                            <span class="name">Kevin McMilian</span>
                        </div>
                    </div>
                    <select class="permSelect" disabled>
                        <option value="3" selected>Full Control</option>
                    </select>
                </div>
                <div class="operator">
                    <div class="stationInfo">
                        <span class="role">2nd</span>
                        <div class="stations">
                            <div>
                                <span class="callsign">AK0SK</span><span> - </span>
                                <span class="name">Sila Kissau</span>
                            </div>
                        </div>
                    </div>
                    <select class="permSelect" disabled>
                        <option value="3" selected>Full Control</option>
                    </select>
                </div>
                <div class="operator">
                    <div class="stationInfo">
                        <span class="role">LOG</span>
                        <div class="stations">
                            <div>
                                <span class="callsign">W0DLK</span><span> - </span>
                                <span class="name">Deb Kaiser</span>
                            </div>
                            <div>
                                <span class="callsign">K0KEX</span><span> - </span>
                                <span class="name">Rick Smith</span>
                            </div>
                        </div>
                    </div>
                    <select class="permSelect" disabled>
                        <option value="3" selected>Full Control</option>
                    </select>
                </div>
            </div>

            <span class="dialogSectionHead">Other Net Roles</span>
            <div class="operatorList">
                <div class="operator">
                    <div class="stationInfo">
                        <span class="role">LSN</span>
                        <div class="stations">
                            <div>
                                <span class="callsign">K0JPR</span><span> - </span>
                                <span class="name">Tom Eagle</span>
                            </div>
                        </div>
                    </div>
                    <select class="permSelect" data-role="LSN">
                        <option value="0" selected>View Only</option>
                        <hr>
                        <option value="3">Full Control</option>
                        <hr>
                        <option value="2">Edit Net Details</option>
                        <option value="1">Edit Stations</option>
                    </select>
                </div>
                <div class="operator">
                    <div class="stationInfo">
                        <span class="role">EM</span>
                        <div class="stations">
                            <div>
                                <span class="callsign">WA0TJT</span><span> - </span>
                                <span class="name">Keith Kaiser</span>
                            </div>
                        </div>
                    </div>
                    <select class="permSelect" data-role="LSN">
                        <option value="0" selected>View Only</option>
                        <hr>
                        <option value="3">Full Control</option>
                        <hr>
                        <option value="2">Edit Net Details</option>
                        <option value="1">Edit Stations</option>
                    </select>
                </div>
            </div>

            <span class="dialogSectionHead">Additional Net Operators</span>
            <div class="operatorList">
                <div class="operator">
                    <div class="stationInfo">
                        <span class="role"></span>
                        <div class="stations">
                            <div>
                                <span class="callsign">W0NRP</span><span> - </span>
                                <span class="name">Neil Preston</span>
                            </div>
                        </div>
                    </div>
                    <select class="permSelect" data-callsign="W0NRP">
                        <option value="0">View Only</option>
                        <hr>
                        <option value="3">Full Control</option>
                        <hr>
                        <option value="2" selected>Edit Net Details</option>
                        <option value="1">Edit Stations</option>
                    </select>
                </div>
            </div>

            <div class="dialogButtons">
                <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> Add Operator</a>
                <a href="#" class="btn btn-outline-dark closeModalButton">Close</a>
            </div>
        </div>
    </dialog>
</div>