<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="siteTechHead(title)">
    <!-- Technical Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO Meta -->
    <title th:text="${title}"></title>
    <meta name="description"
          content="Net Control Manager is a free resource for the amateur radio and emergency services community to manage radio nets and other EmComm activations.">

    <!-- Favicons & App Icons -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <meta name="theme-color" content="#333333">

    <!-- Stylesheets / Local Scripts -->
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/cumoratekgrid.css">
    <script defer src="/js/site.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script defer src="/js/bootstrap.min.js"></script>


    <!-- Font Awesome -->
    <script defer src="/js/solid.min.js"></script>
    <script defer src="/js/fontawesome.min.js"></script>

</head>
<body>
<div class="header" th:fragment="siteHeader">
    <div class="navbar" id="navbar">
        <div>
            <a class="logo">
                <img src="/img/ncmLogo.png" class="logo" alt="Net Control Manager Logo">
            </a>
            <a href="/src/main/resources/static">Home</a>
            <a href="/create">Start a Net</a>
            <a href="/search">Find a Net</a>
            <a href="/account">My Account</a>
            <a href="/help" target="_blank">Help</a>
        </div>
        <div>
            <a href="javascript:void(0);" class="icon bars" onclick="showMobileMenu()">
                <i class="fa fa-bars"></i>
            </a>
            <a href="/account" class="icon">
                <i class="fa fa-circle-user"></i>
            </a>
        </div>
    </div>

    <script>
        function showMobileMenu() {
            var x = document.getElementById("navbar");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>

    <div th:replace="fragments/welcomeModal :: welcomeModal"></div>

    <script>
        var HAS_AUTHENTICATED_COOKIE = "isWelcomed";
        var CALLSIGN_COOKIE = "callsign";
        var CALLSIGN_COOKIE_LENGTH = 90; //days

        function setCookie(name, value, days) {
            const date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            document.cookie = `${name}=${value};expires=${date.toUTCString()};path=/`;
        }

        function getCookie(name) {
            const nameEQ = name + "=";
            const ca = document.cookie.split(';');
            for (let c of ca) {
                c = c.trim();
                if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        // Session Verification & Welcome Modal Display
        $(document).ready(function () {

            var welcomeModal;

            // Check if user has already been through this in this browser session
            if (getCookie(HAS_AUTHENTICATED_COOKIE)) {
                return;
            }

            console.log("1");

            // Get user auth status
            $.ajax({
                url: "/session/check",
                method: "GET",
                statusCode: {
                    200: function () {  //User IS authed, so we need to escape this and not show the welcome modal
                        return;
                    },
                    401: function () {  //User is NOT authed, so we need to proceed with session setup

                        console.log("2");

                        if (getCookie(CALLSIGN_COOKIE)) {

                            console.log("2a");

                            // User has a callsign already in their browser, so just set up the session.
                            var callsignJSON = {callsign: getCookie(CALLSIGN_COOKIE)}

                            $.ajax({
                                url: "/session/setCallsign",
                                method: "POST",
                                contentType: "application/json",
                                data: JSON.stringify(callsignJSON),
                                success: function (response) {
                                    console.log("Success:", response);
                                },
                                error: function (xhr, status, error) {
                                    console.error("Error:", error);
                                }
                            });

                        } else {

                            console.log("2b");

                            // User does NOT have a callsign already, so show them the welcome modal.
                            welcomeModal = document.getElementById('welcomeModal');
                            welcomeModal.showModal();
                        }
                    }
                }
            })

        })

        // Process Ham Callsign from Welcome Modal
        $(document).ready(function () {
            $("#hamCallsignForm").on("submit", function (e) {
                e.preventDefault();

                var callsign = $("#hamCallsign").val().trim();
                if (!callsign) {
                    alert("Please enter a callsign.");
                    return;
                }

                callsign = callsign.toUpperCase();
                console.log(callsign);

                var callsignJSON = {callsign: callsign};

                $.ajax({
                    url: "/session/create",
                    method: "POST",
                    headers: {
                        'X-XSRF-TOKEN': getCookie('XSRF-TOKEN')
                    },
                    contentType: "application/json",
                    data: JSON.stringify(callsignJSON),
                    success: function (response) {
                        console.log("Callsign stored in session:", callsign);
                    },
                    error: function (xhr, status, error) {
                        console.error("Error setting callsign:", error);
                        // Optional: handle error display
                    }
                });
            });
        })


    </script>
</div>